<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Inicio</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" id="pagesheet" />
	<link rel="stylesheet" type="text/css" href="css/datepicker.css" id="pageshee3" />
	<!--angular-->

	<script src="angular-1.4.6/angular.js"></script>
	<script src="angular-1.4.6/ngStorage.min.js"></script>
	<script src="angular-1.4.6/angular-route.js"></script>
	<script src="bower_components/angularUtils-pagination/dirPagination.js"></script>
    <script src="scripts/jspdf.min.js"></script>
	<script src="app.js"></script>
	<script src="controllers/contratoController.js"></script>




</head>
<body ng-app="myApp" ng-controller="contrato" ng-init="inicio()" >

	<script src="scripts/jquery-1.11.3.min.js" type="text/javascript"></script>
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>-->
	<script src="scripts/bootstrap.min.js"></script>
	<script src="scripts/bootstrap-datepicker.js"></script>
	<script src="scripts/jsboostrapDatePickerEs.js" charset="UTF-8"></script>
	<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>-->



	<script>


        $(function () {




            $('.datepicker').datepicker({
               
                language: 'es',
            });



            $('.datepicker').datepicker('setDates', [])

        });

    /*$("#datepicker").change("dp.change", function() {
     console.log('entra1');
     $scope.historiaClinica.fecha_examen = $("datepicker").val();
     alert("selected date is " + $scope.historiaClinica.fecha_examen);

     });*/


	</script>


	<form>
		<panel class="panel-primary">

			<div class="panel-header ">
				<h1 class="text-center pane-title">Contrato</h1>
			</div>
			<div class="container">
				<div class="row">
					<h4 class="pane-title">Informacion Venta Contrato</h4>
				
                        <div class="col-md-4 col-xs-12">
                            <label>Plazo Cr&eacutedito</label>
                            <input type="number" class="form-control" ng-model="conplazocredito" min="0" max="24" step="0.01" />
                            <label>Cuota Inicial </label>
                            <input type="number" class="form-control" ng-model="concuotainicial" min="0" step="0.01" />
                            </div>
                        <div class="col-md-4 col-xs-12">
                            <label>Inter&eacutes Cr&eacutedito</label>
                            <input type="number" class="form-control" ng-model="coninterescredito" min="0" step="0.01" />
                            <label>Fecha Cuota Inicial</label>
                            <input class="datepicker form-control " id="datepicker" ng-model="date" />	<br />
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <label>Inter&eacutes Mora</label>
                            <input type="number" class="form-control" ng-model="coninteresmora" min="1.5" step="0.01" />
                        </div>
                           
                          
                            
                           
                            
                         

					<div class="col-md-12 col-xs-12">
                      
						<div class="col-md-2 col-xs-6">
                          
							<label>Entrada Pendiente</label>
						</div>


						<div class="col-md-5 col-xs-6">

							<label>
								<input type="radio" ng-model="conentradapendiente" value="SI">
								SI
							</label>
						</div>
						<div class="col-md-5 col-xs-6">
							<label>
								<input type="radio" ng-model="conentradapendiente" value="NO">
								NO
							</label>
						</div>
					</div>
					<div class="col-md-12 col-xs-12">
						
					</div>
			
		
					<div class="col-md-12 col-xs-12">
           
						<h4 class="pane-title">Informacion Cliente</h4>
						
					</div>


				<div class="col-md-12 col-xs-12">
					<div class="col-md-2 col-xs-6">
					
						<label>Casa</label>
					</div>


					<div class="col-md-5 col-xs-6">
						
						<label>
							<input type="radio" ng-model="concasapropiaarrendadacliente" value="propia">
							PROPIA
						</label>
					</div>
					<div class="col-md-5 col-xs-6">
						
						<label>
							<input type="radio" ng-model="concasapropiaarrendadacliente" value="arrienda">
							ARRENDADA
						</label>
					</div>
				</div>

					   
                        <div class="col-md-10 col-xs-12">
                            <label>Caracteristicas Domicilio</label>
                            <input type="text" class="form-control" ng-model="concaracteristicasdomiciliocliente" />
                            <label>Referencias </label>
                            <input type="text" class="form-control" ng-model="conreferenciadomiciliocliente" />
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <label>Telefono Casa</label>
                            <input type="text" class="form-control" ng-model="contelefonodomiciliocliente" />
                            <label>Telefono Celular</label>
                            <input type="text" class="form-control" ng-model="concelularcliente" />
                        </div>
                           
                           
                  
					<div class="col-md-12 col-xs-12">
						<h4 class="pane-title">Informacion Cliente Trabajo</h4>
                        <div class="col-md-10 col-xs-12">
                            <label>Trabajo</label>
                            <input type="text" class="form-control" ng-model="conlugartrabajocliente" />
                            <label>Cargo</label>
                            <input type="text" class="form-control" ng-model="concargotrabajocliente" />
                        </div>
                        <div class="col-md-2 col-xs-12">

                            <label>Tiempo</label>
                            <input type="text" class="form-control" ng-model="contiempolugartrabajocliente" />
                            <label>Telefono </label>
                            <input type="text" class="form-control" ng-model="contelefonostrabajocliente" />

                        </div>
                        <div class="col-md-12 col-xs-12">
                            <label>Referencias </label>
                            <input type="text" class="form-control" ng-model="conreferencialugartrabajocliente" />
                            <label>Direccion</label>
                            <input type="text" class="form-control" ng-model="condirecciontrabajocliente" />
                        </div>
                        
                           
                           

                        </div>
					<div class="col-md-12 col-xs-12">
						<h4 class="pane-title">Informacion Garante y/o Conyugue</h4>
                        <div class="col-md-4 col-xs-12">
                            <label>Cedula</label>
                            <input type="text" class="form-control" ng-model="concedulagaranteconyugue" />
                           
                            </div>
                        <div class="col-md-4 col-xs-12">
                            <label>Ciudad</label>
                            <input type="text" class="form-control" ng-model="conciudadgaranteconyugue" />
                           
                        </div>
                        <div class="col-md-10 col-xs-12">
                            <label>Nombres Completos</label>
                            <input type="text" class="form-control" ng-model="connombrescompletosgaranteconyugue" />
                            <label>Direccion</label>
                            <input type="text" class="form-control" ng-model="condirecciondomiciliogaranteconyugue" />
                            </div>
                        <div class="col-md-2 col-xs-12">
                            <label>Telefono Casa</label>
                            <input type="text" class="form-control" ng-model="contelefonocasagaranteconyugue" />
                            <label>Telefono Celular </label>
                            <input type="text" class="form-control" ng-model="concelulargaranteconyugue" />
                        </div>
                            <div class="col-md-12 col-xs-12">
                               
                             
                                <label>Caracteristicas Domicilio</label>
                                <input type="text" class="form-control" ng-model="concaracteristicasdomiciliogaranteconyugue" />

                            </div>




                        </div>

				<div class="col-md-12 col-xs-12">
					<div class="col-md-2 col-xs-6">
						
						<label>Casa</label>
					</div>


					<div class="col-md-5 col-xs-6">
						
						<label>
							<input type="radio" ng-model="concasapropiaarrendadagaranteconyugue" value="propia">
							PROPIA
						</label>
					</div>
					<div class="col-md-5 col-xs-6">
						
						<label>
							<input type="radio" ng-model="concasapropiaarrendadagaranteconyugue" value="arrienda">
							ARRENDADA
						</label>
					</div>
				</div>
				
					<div class="col-md-12 col-xs-12">
                      
                        <div class="col-md-12 col-xs-12">
                            <label>Referencias </label>
                            <input type="text" class="form-control" ng-model="conreferenciadomiciliogaranteconyugue" />


                        </div>



				<div class="col-md-12 col-xs-12">
					<h4 class="pane-title">Informacion Garante y/o Conyugue Trabajo</h4>
                    <div class="col-md-10 col-xs-12">
                        <label>Trabajo</label>
                        <input type="text" class="form-control" ng-model="conlugartrabajogaranteconyugue" />
                        <label>Cargo</label>
                        <input type="text" class="form-control" ng-model="concargotrabajogaranteconyugue" />
                        </div>
                    <div class="col-md-2 col-xs-12">
                        <label>Tiempo</label>
                        <input type="text" class="form-control" ng-model="contiempolugartrabajogaranteconyugue" />
                        <label>Telefono </label>
                        <input type="text" class="form-control" ng-model="contelefonostrabajogaranteconyugue" />
                       
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <label>Direccion</label>
                        <input type="text" class="form-control" ng-model="condirecciontrabajogaranteconyugue" />
                      
                    </div>
                        
                      
                    </div>
                    <br /><br /><br />
				<div class="col-md-12 col-xs-12">
					<h4 class="pane-title">Informacion Referencia Personal</h4>
                    <div class="col-md-4 col-xs-12">
                        <label>Cedula</label>
                        <input type="text" class="form-control" ng-model="concedulareferenciapersonal" />
                        
                        </div>
                    <div class="col-md-8 col-xs-12">
                        <label>Nombres Completos</label>
                        <input type="text" class="form-control" ng-model="connombrescompletosreferenciapersonal" />

                    </div>
                        <div class="col-md-10 col-xs-12">
                            <label>Direccion</label>
                            <input type="text" class="form-control" ng-model="condirecciondomicilioreferenciapersonal" />
                            <label>Caracteristicas Domicilio</label>
                            <input type="text" class="form-control" ng-model="concaracteristicasdomicilioreferenciapersonal" />
                        </div>
                    <div class="col-md-2 col-xs-12">
                        <label>Telefono Casa</label>
                        <input type="text" class="form-control" ng-model="contelefonocasareferenciapersonal" />
                        <label>Telefono Celular </label>
                        <input type="text" class="form-control" ng-model="concelularreferenciapersonal" />
                    </div>


                    </div>

				<div class="col-md-12 col-xs-12">
					<div class="col-md-2 col-xs-6">
						<label>Casa</label>
					</div>


					<div class="col-md-5 col-xs-6">
		
						<label>
							<input type="radio" ng-model="concasapropiaarrendadareferenciapersonal" value="propia">
							PROPIA
						</label>
					</div>
					<div class="col-md-5 col-xs-6">

						<label>
							<input type="radio" ng-model="concasapropiaarrendadareferenciapersonal" value="arrienda">
							ARRENDADA
						</label>
					</div>
				</div>

				<div class="col-md-12 col-xs-12">
               
                        <label>Referencias </label>
                        <input type="text" class="form-control" ng-model="conreferenciadomicilioreferenciapersonal" />

                    </div>
				<div class="col-md-12 col-xs-12">
					<h4 class="pane-title">Informacion Referencia Personal Trabajo</h4>
                    <div class="col-md-10 col-xs-12">
                        <label>Trabajo</label>
                        <input type="text" class="form-control" ng-model="conlugartrabajoreferenciapersonal" />
                        <label>Cargo</label>
                        <input type="text" class="form-control" ng-model="concargotrabajoreferenciapersonal" />
                       </div>
                    <div class="col-md-2 col-xs-12">

                        <label>Telefono </label>
                        <input type="text" class="form-control" ng-model="contelefonostrabajoreferenciapersonal" />
                        <label>Tiempo</label>
                        <input type="text" class="form-control" ng-model="contiempolugartrabajoreferenciapersonal" />
                    </div>
                    <div class="col-md-12 col-xs-12">

                        
                        <label>Direccion</label>
                        <input type="text" class="form-control" ng-model="condirecciontrabajoreferenciapersonal" />
                    </div>
                    
                       
                    </div>
			

				<div class="col-md-12 col-xs-12">
					<h4 class="pane-title">Informacion Referencia Estudiantil</h4>
                    <div class="col-md-4 col-xs-12">
                        <label>Cedula</label>
                        <input type="text" class="form-control" ng-model="concedulareferenciaestudiantil" />
                        <label>Nivel </label>
                        <input type="text" class="form-control" ng-model="connivelreferenciaestudiantil" />
                        </div>
                    <div class="col-md-8 col-xs-12">
                        <label>Nombres Completos</label>
                        <input type="text" class="form-control" ng-model="connombrescompletosreferenciaestudiantil" />
                        <label>Parentezco</label>
                        <input type="text" class="form-control" ng-model="conparentescoreferenciaestudiantil" />
                    </div>
                        <div class="col-md-12 col-xs-12">
                            
                            <label>Institucion</label>
                            <input type="text" class="form-control" ng-model="coninstitucionreferenciaestudiantil" />
                        </div>
                      



                    </div>
                        
				<div class="col-md-12 col-xs-12">

					<div class="col-md-4 col-xs-12">
                        <br />
                        <br />
						<input type="submit" class="form-control btn-primary" value="Guardar" ng-click="guardar()" />
					</div>
                    <div class="col-md-4 col-xs-12">
                        <br />
                        <br />
                        <input type="submit" class="form-control btn-primary"	value="Imprimir" ng-click="imprimir()"/>
                        <br />
                        <br />
                    </div>
					<div class="col-md-4 col-xs-12">
                        <br />
                        <br />
						<input type="submit" class="form-control btn-primary" value="Finalizar" ng-click="finalizar()"/>
					</div>
				</div>
                    </div>
                </div>
</panel>
	</form>




</body>
</html>