<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxUrl="409600">
                    <headerLimits>
                        <add header="Params" sizeLimit="9000" />
                    </headerLimits>
                </requestLimits>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
